certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
docopt==0.6.2
idna==3.11
joblib==1.5.3
nltk==3.9.2
numpy==2.4.0
pandas==2.3.3
pipreqs==0.4.13
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.11.3
requests==2.32.5
scikit-learn==1.8.0
scipy==1.16.3
setuptools==80.9.0
six==1.17.0
textblob==0.19.0
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.3
urllib3==2.6.2
wheel==0.45.1
yarg==0.1.10
